// WikimediaUI theme variables

@ooui-default-image-path: 'themes/wikimediaui/images';

// Pull in the main set of variables from the shared UI base
// * Reaching into node_modules like this to avoid a symlink that Windows users won't like
// * Use LESS "reference" import to avoid including the '/**' comment at the top of the file
@import ( reference ) './_wikimedia-ui-base.less';

// Theme mixins

.mw-frameless-button-colored( @child, @color-text, @hover, @active, @focus ) { // following CSS Pseudo Classes
	> @{child} {
		color: @color-text;
	}

	> @{child}:hover {
		color: @hover;
	}

	> @{child}:active,
	&.oo-ui-buttonElement-pressed > @{child} {
		color: @active;
		border-color: @active;
		box-shadow: none;
	}
}

.mw-framed-button-colored( @child, @color-text, @hover, @border-color--hover, @active, @focus ) {
	> @{child} {
		color: @color-text;
	}

	> @{child}:hover {
		background-color: @hover;
		border-color: @border-color--hover;
	}

	> @{child}:focus {
		border-color: @focus;
		box-shadow: inset 0 0 0 1px @focus;
		// In Windows high contrast mode the outline becomes visible.
		outline-color: @outline-color-base--focus;
	}

	> @{child}:active,
	&.oo-ui-buttonElement-pressed > @{child},
	&.oo-ui-buttonElement-active > @{child},
	&.oo-ui-popupToolGroup-active > @{child} {
		background-color: #a0a;//lighten( @active, 60% );
		color: @active;
		border-color: @active;
		box-shadow: none;
	}
}

.mw-framed-primary-button-colored( @child, @color, @hover, @active, @focus ) {
	> @{child} {
		color: @color-base--inverted;
		background-color: @color;
		border-color: @color;
	}

	> @{child}:hover {
		background-color: @hover;
		border-color: @hover;
	}

	> @{child}:focus {
		border-color: @focus;
		box-shadow: inset 0 0 0 1px @focus, inset 0 0 0 2px @color-base--inverted;
		// In Windows high contrast mode the outline becomes visible.
		outline-color: @outline-color-base--focus;
	}

	> @{child}:active,
	&.oo-ui-buttonElement-pressed > @{child},
	&.oo-ui-buttonElement-active > @{child},
	&.oo-ui-popupToolGroup-active > @{child} {
		color: @color-base--inverted;
		background-color: @active;
		border-color: @active;
		box-shadow: none;
	}
}

// For some reason the ':' in the arguments list makes the linter think this a rule.
.mw-tool-colored( @child, @color-text, @hover, @active, @focus, @active-text: @active ) {
	> @{child} {
		color: @color-text;
	}

	> @{child}:hover {
		background-color: @hover;
	}

	> @{child}:focus {
		outline-color: @focus;
		box-shadow: inset 0 0 0 1px @focus;
	}

	> @{child}:active,
	&.oo-ui-tool-active > @{child},
	&.oo-ui-popupToolGroup-active > @{child} {
		background-color: #a0a; //lighten( @active, 60% );
		color: @active-text;
		box-shadow: none;
	}
}

.mw-primary-tool-colored( @child, @color, @hover, @active, @focus ) {
	> @{child} {
		color: @color-base--inverted;
		background-color: @color;
	}

	> @{child}:hover {
		background-color: @hover;
	}

	> @{child}:focus {
		outline-color: @focus;
		box-shadow: inset 0 0 0 1px @focus, inset 0 0 0 2px @color-base--inverted;
	}

	> @{child}:active,
	&.oo-ui-tool-active > @{child} {
		color: @color-base--inverted;
		background-color: @active;
		box-shadow: none;
	}

	&.oo-ui-widget-disabled > @{child},
	&.oo-ui-widget-disabled > @{child}:active {
		background-color: @background-color-filled--disabled;
		color: @color-filled--disabled;
	}
}
